@import './../../style/color';

.section-title{
    margin-left: 30px;
}

.section-list{
    border-top: 2px solid $color-corporative;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__item{
        width: 400px;
        height: 150px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        margin: 10px 0;
        img{
            position: absolute;
            width: 100%;
        }
        .section-name{
            z-index: 2;
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 25px;
            text-transform: uppercase;
            top: 0;
            padding-top: 55px;
            color: $color-white;
        }
    }
    &__item:hover:after{
        background-color: $color-dark;
    }
    &__item::after{
        content: ' ';
        z-index: 1;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: $color-dark;
        opacity: 50%;
    }
}

@media (min-width: 415px) {
    .section-list__item{
        margin: 10px 15px;
    }
}