@import './../../../style/color';
@import './../../../style/mixin';

.header{
    position:sticky;
    top: 0;
    z-index: 3;
    background-color: $color-white;
}

.header-container {
    @include flex-content(flex, row, space-between, center);
    height: 80px;
    padding: 0;
    margin: 0px 30px;
    
    &__nav {
        width: 75px;
        position: relative;
        img{
            width: 30px;
        }
        .sections-list {
            @include flex-content(flex, column, null, center);
            visibility: hidden;
            z-index: 4;
            padding: 0;
            position: absolute;
            width: 414px;
            left:-30px;
            background-color: $color-corporative;
            top:60px;
            color: $color-white;
            text-transform: uppercase;
            .section-item{
                text-align: center;
                width: 100%;
                padding: 20px 0;
                border-bottom: 1px solid $color-white;
            }
        }
    }
    &__nav:hover {
        .sections-list {
            visibility: visible;
        }
    }
    &__logo{
        img{
            height: 60px;
        }
    }
    &__right{
        @include flex-content(flex, null, space-between, center);
        width: 75px;
        .header-cart{
            position: relative;
            img{
                width: 35px;
            }
            .cart-number{
                position: absolute;
                top: -9px;
                left: 29px;
                z-index: 2;
            }
        }
        .cart-circle {
            content: ' ';
            width: 25px;
            height: 25px;
            background-color: $color-corporative;
            border-radius: 50%;
            position: absolute;
            left: 20px;
            bottom: 20px;
        }
        .header-user{
            margin-left: 10px;
            img{
                width: 27px;
            }
        }
    }
}